/* RecipePage.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  color: #111;
  margin: 0;
  padding: 0;
} */

.recipe-container {
  max-width: 800px;
  right: 25%;
  margin: 40px auto;
  padding: 50px 20px;
  line-height: 1.6;
}

.recipe-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 2px solid #111;
  padding-bottom: 5px;
}

.recipe-subtext {
  color: #666;
  font-size: 0.95rem;
  margin: 4px 0 12px;
}

.recipe-image {
  width: 100%;
  /* height: auto; */
  border-radius: 8px;
  margin: 20px 0;
  object-fit: cover;
}

.section-title {
  font-size: 1.4rem;
  margin: 30px 0 10px;
  border-left: 4px solid #111;
  padding-left: 10px;
} 

.instructions {
  white-space: pre-line;
}

.ingredients-list {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
}

.ingredients-list li {
  margin-bottom: 6px;
} 

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.tag-badge {
  background-color: #111;
  color: white;
  padding: 4px 10px;
  border-radius: 16px;
  font-size: 0.85rem;
  font-weight: 500;
}

.center-text {
  text-align: center;
  margin-top: 100px;
  font-size: 1.2rem;
  color: #666;
}
